#controlspuzll
{
	padding-top: 10px;
	width: 400px;
	text-align: center;
	border-radius: 2px;
}
#fullpuzzl
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
} 
.puzzlemain 
{
	background-image: url(https://www.imagebee.org/sports/marcus-rashford/Marcus-Rashford-10-400x400.jpg);
	border: 5px solid black;
	height: 96px;
	line-height: 96px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 96px;
	cursor: pointer;
}
#puzzl
{
	width: 400px;
	font-size: 32px;
	height: 400px;
	padding: 0px;
	position: relative;
}
#p1{
	text-align: center;
}
#shuffel
{

	border: 2px solid #222;
	background: -webkit-gradient(linear, top, bottom,color-stop(15%, white),color-stop(80%, darkgray),);
     background: -moz-linear-gradient(top, white 15%, darkgray 90%);  
     background: linear-gradient(90deg, white 15%, darkgray 90%);
	font-weight: bold;
	padding: 2px 5px;
	color: #000;
	border-radius: 20px;
	margin:12px;
}
#moves 
{
	border: 2px solid #222;
	background: -webkit-gradient(linear, top, bottom,color-stop(15%, white),color-stop(80%, darkgray),);
     background: -moz-linear-gradient(top, white 15%, darkgray 90%);  
     background: linear-gradient(90deg, white 15%, darkgray 90%);
	font-weight: bold;
	padding: 2px 5px;
	color: #000;
	border-radius: 20px;
	margin: 10px;
}
#p3
{
	border: 2px solid #222;
	background: -webkit-gradient(linear, top, bottom,color-stop(15%, white),color-stop(80%, darkgray),);
     background: -moz-linear-gradient(top, white 15%, darkgray 90%);  
     background: linear-gradient(90deg, white 15%, darkgray 90%);
	font-weight: bold;
	padding: 2px 5px;
	color: #000;
	border-radius: 20px;
}
.container{
	height: 300px;
	width: 100%;
 }
 
 #display{
	width: 100%;
	font-size: 72px;
	text-align: center;
	margin: 0px auto;
 }
 
 .buttons{
	text-align: center;
 }

	